<div class="white-bg" id="profile-recipes">
  <ul>
    <% if @results %>

        <% @results.sort_by{ |dish| dish.votes.count }.reverse.each do |result| %>
        <div class="dish-line">
          <li>
            <%= pluralize(result.votes.count, "Vote") %>
            <span class="dish-title"> <%= link_to result.title, category_dish_path(result.category, result) %> </span>
          </li>
        </div>
      <% end %>
    <% end %>

  </ul>
</div>