<% if @results %>
    <% @results.sort_by{ |dish| dish.votes.count }.reverse.each do |result| %>
    <p>
      <%= pluralize(result.votes.count, "Vote") %> -
      <%= link_to result.title, category_dish_path(result.category, result) %>
    </p>
    <% end %>
<% end %>
