/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_selfzzzzzzzzzzzzzz
 */

body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cormorant Garamond', serif;
  padding-bottom: 5%;
}

body#sign-up {
  background-image: url("/assets/00-login.png");
}

body#log-in {
  background-image: url("/assets/00-login.png");
}

body#home {
  background-image: url("/assets/01-menu-long.png");
}

body#single-category {
  background-image: url("/assets/02-single-category.png");
}

body#new-dish {
  background-image: url("/assets/02-single-category.png")
}

body#edit-dish {
  background-image: url("/assets/02-single-category.png")
}

body#dish-detail {
  background-image: url("/assets/03-dish-detail.png");
}

.logo {
  text-align: center;
  margin-bottom: 6px;
}

.logo-and-text {
  padding-bottom: 28px;
  display: inline-block;
  width:20%;
}

.back-link {
  margin-left: 20%;
}

.back-link a {
  text-decoration: none;
}

#links {
  /*float: right;*/
  text-align: left;
  padding-left: .1%;
  display:inline-block;
  width: 30%;
  font-size: 15px;
  text-transform: uppercase;
}

#links a {
  text-decoration: none;
  padding-left:18px;
}

#links a:hover {
  color:#83A035;
  background-color: transparent;
  text-decoration: none;
}

#search-container {
  margin-left: 7.5%;
  text-align: right;
  display:inline-block;
  width:32%;
}

#search {
  height: 30px;
  border-radius: 100px;
  width: 180px;
  font-size: 12px;
  padding-left: 18px;
  border:none;
  box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
  outline: none;
  letter-spacing: .3px;
}

.search-btn {
  display: none;
}

.dish-title {
  padding-left: 8%;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  color: #333333;

}

.dish-title a {
  text-decoration: none;
}

.vote-count {
  border-top: 1px solid gray;
  font-size: 30px;
  color: #333333;
  text-align: right;
  font-family: 'Cormorant Garamond', serif;
}

.dish-line {
  padding-top: 15px;
  padding-bottom: 15px;
}

.white-bg ul li {
  padding-left: 20%;
}

.white-bg ul {
  padding-bottom: 8%;
  margin-top: 7%;
}

#vote-and-count {
  text-align: center;
  margin-bottom: 25px;
}

#chef-and-duration {
  text-align: center;
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: lighter;
}

#directions-and-ingredients {
  padding-top: 6%;
  line-height: 2.5em;
  margin-left: 20%;
}

.sub-header {
  font-size: 32px;
  margin-bottom: 12px;
}

#directions {
  width:54%;
  font-size: 18px;
  display: inline-block;
}

#ingredients {
  width:15%;
  font-size: 18px;
  font-weight: lighter;
  display: inline-block;
  vertical-align: top;
  margin-left: 6%;
}

h1 {
  text-decoration: none;
  font-size: 38px;
  letter-spacing: 2.5px;
  font-weight: 510;
  font-color:#303E48;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 2.5px;
  font-weight: 400;
  color:#303E48;
  text-align: center;
}

h2 a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 2.5px;
  font-weight: 400;
  font-color:#303E48;
}

h3 a {
  font-weight: 500;
  font-style: italic;
  font-size: 35px;
  text-decoration: none;
  text-align: left;
}

h4 {
  font-size: 40px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 1px;
}

h5 {
  font-size: 28px;
  text-align: center;
  padding-bottom: 20px;
  margin: 0;
  font-weight: 400;
  padding-bottom: 45px;
}

.x-up-form {
  /*display: inline-block;*/
  margin: 0 auto;
  width: 50%;
  padding-top: 10px;
}

.x-up-form .field .input-field{
  font-size: 17px;
  padding-left: 15px;
}

.field .remember {
  padding-top: 12px;
}

.field#actions a {
  color:#83A035;
  text-decoration: none;
  font-size: 16px;
}

.field {
  height:37px;
  width: 260px;
  margin: 0 auto;
  letter-spacing: .5px;
}

.field#actions {
  text-align: center;
  margin-top: 45px;
  font-size: 13px;
}

.input-field {
  height:34px;
  width: 270px;
  border-radius: 2px;
  border:none;
  box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
  padding-left: 15px;
  font-size: 28px;
  font-family: 'Cormorant Garamond', serif;
}

.input-box {
  height: 3em;
  width: 95%;
  padding-left: 3%;
  font-size: 1em;
}

#prep-time {
  height: 20px;
}

.dishes {
  margin: 0 auto;
  padding-left: 200px;
  padding-top: 30px;
}

.add-dish {
  text-align: right;
  padding-right: 17%;
  padding-top: 2%;
}

.add-dish a {
  text-decoration: none;
  font-size: 20px;
}

.white-bg {
  border-top: 15%;
  background-color: white;
  /*position: absolute;*/
  top: 150px;
/*  left: 100;
  r`ight: 100;*/
  background: rgba(255, 255, 255, .5);
  padding-top: 5%;
  margin: auto;
  width: 70%;
  list-style: none;
  border-bottom: 15%;
  padding-bottom: 10%;
}

.white-bg ul {
  list-style: none;
}

.white-bg ul li{
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  line-height: 1.8em;
  padding-right: 30px;
}

.login-title {
  font-size: 2em;
  padding-bottom: 1.5%;
  padding-top: 30px;
}

#loginField {
  -webkit-appearance: none;
  position: relative;
  display: block;
  width: 300px;
  margin: 0 auto;
  font-family: 'Cormorant Garamond', serif;
  background-image: none;
}
/*#loginField input[type=text] {
  height:200px !important;
  box-sizing: border-box;
}
#loginField input[type=submit] {
  width: 85%;
  height: 60px;
}*/

.input-field {
  height: 2em;
  width: 95%;
  padding-left: 3%;
  font-size: 1em;
}

.profile-wrapper {
  text-align: center;
}

.profile {
  margin: auto;
  display: inline-block;
  overflow: hidden;
}

.profile-username {
  margin-top: 5px;
}

.profile-pic {
  float: left;
  padding-right: 30px;
  text-align: left;
}

.profile-info {
  float: right;
  text-align: left;
}

.profile-info-text {
  font-size : 1.2em;
  line-height: 2;
}

#profile-recipes {
  padding-top: 0px;
}

.chef-duration-left {
  margin-left: 15%;
}

.remember {
  display: inline-block;
  color: #707A7B;
}

#submit-btn:hover {
 background-color:#819639;
}

#submit-btn {
  height: 45px;
  width: 100%;
  background-color: #83A035;
  color: white;
  font-size: 18px;
/*  font-size: 1.2em;*/
  padding: 3%;
  border:none;
  border-radius: 2px;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 25px;
  letter-spacing: .9px;
  font-weight: lighter;
}

#submit-btn:hover {
  background-color: #83CF35
}

#devise-sign-up {
  text-align: center;
  color: #83A035;
  padding-top: 15px;
  margin-bottom: 15px;
}

.devise-links {
  text-align: center;
  font-weight: bold;
  color:#83A035;
}

.devise-links a {
  text-decoration: none;
  margin: 0 auto;
  color: #83A035;
  font-weight: 800;
  font-size: 1.2em;
}

.devise-links a:hover {
  color:#6F8528 !important;
}

.devise-forgot {
  color: #83A035;
  margin-top: 12px;
}

.devise-forgot:hover {

}

.alert {
  text-align:center;
  font-family: 'Cormorant Garamond', serif;
  font-size:18px;
  margin-bottom: 50px;
}

.notice {
  text-align:center;
  font-family: 'Cormorant Garamond', serif;
  font-size:18px;
  margin-bottom: 50px;
}

a:hover {
  background-color: transparent;
  color:#83A035;
}
