/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_selfzzzzzzzzzzzzzz
 */

body {
  background-image: url("/assets/01-menu.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cormorant Garamond', serif;
}

.logo {
  text-align: center;
  margin-bottom: 6px;
}

.logo-and-text {
  padding-bottom: 28px;
  display: inline-block;
  width:20%;
}

#links {
  /*float: right;*/
  text-align: left;
  padding-left: 125px;
  display:inline-block;
  width: 30%;
  font-size: 15px;
  text-transform: uppercase;
}

#links a {
  text-decoration: none;
  padding-left:18px;
}

#search {
  padding-left: 80px;
  text-align: right;
  display:inline-block;
  width:35%;
}

h2 {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 2.5px;
  font-weight: 400;
  font-color:#303E48;
  text-align: center;
}

h2 a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 2.5px;
  font-weight: 400;
  font-color:#303E48;
}

h3 a {
  font-weight: 500;
  font-style: italic;
  font-size: 35px;
  text-decoration: none;
  text-align: left;
}

.dishes {

  margin: 0 auto;
}


.white-bg {
  border-top: 25px;
  background-color: white;
  /*position: absolute;*/
  top: 150px;
/*  left: 100;
  right: 100;*/
  background: rgba(255, 255, 255, .5);
  padding-top: 7%;
  margin: auto;
  width: 50%;
  list-style: none;

}

.white-bg ul {
  list-style: none;
}

.white-bg ul li{
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  line-height: 1.8em;
  padding-right: 30px;
}

.login-title {
  font-size: 2em;
  padding-bottom: 1.5%;
}

#loginField {
  -webkit-appearance: none;
  position: relative;
  display: block;
  width: 300px;
  margin: 0 auto;
  font-family: 'Cormorant Garamond', serif;
  background-image: none;
}
/*#loginField input[type=text] {
  height:200px !important;
  box-sizing: border-box;
}
#loginField input[type=submit] {
  width: 85%;
  height: 60px;
}*/

.input-field {
  height: 3em;
  width: 95%;
  padding-left: 3%;
  font-size: 1em;
}

.remember {
  display: inline-block;
}

#submit-btn {
  height: 2.75em;
  width: 100%;
  background-color: #A4CB3F;
  color: white;
  font-size: 1.2em;
  padding: 3%;
}

#devise-sign-up {
  text-align: center;
  color: #A4CB3F;
}

.devise-links {
  text-align: center;
  font-weight: bold;

}

.devise-links a {
  text-decoration: none;
  margin: 0 auto;
  color: #A4CB3F;
  font-weight: 800;
  font-size: 1.2em;
}

.devise-links a:hover {
  color:green !important;
}

.devise-forgot {
}

.devise-forgot:hover {

}
