/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_selfzzzzzzzzzzzzzz
 */

body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cormorant Garamond', serif;
  padding-bottom: 5%;
  display: block;
  margin: 25px auto;
}

body#sign-up {
  background-image: url("/assets/00-login.png");
}

body#log-in {
  background-image: url("/assets/00-login.png");
}

body#home {
  background-image: url("/assets/01-menu-long.png");
}

body#single-category {
  background-image: url("/assets/02-single-category.png");
}

body#new-dish {
  background-image: url("/assets/02-single-category.png")
}

body#edit-dish {
  background-image: url("/assets/02-single-category.png")
}

body#dish-detail {
  background-image: url("/assets/03-dish-detail.png");
}

body#edit-user {
  background-image: url("/assets/00-login.png")
}

.logo {
  text-align: center;
  margin-bottom: 6px;
}

.logo-and-text {
  padding-bottom: 28px;
  display: inline-block;
  width:20%;
}

.back-link {
  margin-left: 20%;
}

.back-link a {
  text-decoration: none;
  color: #637820;
}

#links {
  /*float: right;*/
  text-align: left;
  padding-left: .1%;
  display:inline-block;
  width: 30%;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  padding-bottom: 20px;
  letter-spacing: .1em;
  text-decoration: none;
}

#links a {
  text-decoration: none;
  padding-left:18px;
}

#links a:hover {
  color:#83A035;
  background-color: transparent;
  text-decoration: none;
}

#search-container {
  margin-left: 7.5%;
  text-align: right;
  display:inline-block;
  width:32%;
}

#search {
  height: 30px;
  border-radius: 100px;
  width: 180px;
  font-size: 12px;
  padding-left: 18px;
  border:none;
  box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
  outline: none;
  letter-spacing: .3px;
}

#search:focus {
/*    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
*/

    box-shadow:inset 0 0 2px 2px #9ecaed;
    background: #fff;
}

.search-btn {
  display: none;
}

.dish-title {
  padding-left: 5.95%;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
}

.vote-count {
  border-top: 1px solid gray;
  font-size: 30px;
  color: #364308;
  text-align: right;
  font-family: 'Cormorant Garamond', serif;
}

.dish-title a {
  text-decoration: none;
  color: #637820;
}

.dish-line {
  padding-top: 15px;
  padding-bottom: 15px;
}

.white-bg ul li {
  padding-left: 20%;
}

.white-bg ul {
  padding-bottom: 2%;
  margin-top: 1%;
}

#vote-and-count {
  text-align: center;
  margin-bottom: 25px;
}

#chef-and-duration {
  text-align: center;
  font-size: 20px;
  font-family: 'Cormorant Garamond', serif;
  /*font-style: italic;*/
  font-weight: lighter;
}

#chef-and-duration a {
  color:#637820;
  text-decoration: none;
}

#directions-and-ingredients {
  padding-top: 6%;
  line-height: 2.5em;
  margin-left: 20%;
}

.sub-header {
  font-size: 32px;
  margin-bottom: 12px;
}

#directions {
  width:54%;
  font-size: 18px;
  display: inline-block;
}

#ingredients {
  width:15%;
  font-size: 18px;
  font-weight: lighter;
  display: inline-block;
  vertical-align: top;
  margin-left: 6%;
}

h1 {
  text-decoration: none;
  font-size: 38px;
  letter-spacing: 1px;
  /*font-weight: 510;*/
  font-color:#303E48;
  /*text-align: center;*/
  /*text-transform: uppercase;*/
}

h6 {
  text-decoration: none;
  font-size: 38px;
  letter-spacing: 2.5px;
  font-weight: 510;
  font-color:#303E48;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: 'Cormorant Garamond', serif;
  color:#303E48;
  font-weight: lighter;
}

h2 {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 2.5px;
  font-weight: 400;
  color:#303E48;
  text-align: center;
  transition:all .2s ease-out;
}

.category-header {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 2.5px;
  font-weight: 400;
  color:#303E48;
  text-align: center;
  margin-bottom: 35px;
}

h2:hover {
  /*transform:translate(0px,-10px);*/
  -webkit-transform: scale(0.95);
  color:black;
}


/*a img:hover {
  transform:scale(1.08);
  transition:all .2s ease-in;
}*/


.arugula-effect:hover {
  transform:scale(1.08);
  transition:all .2s ease-in;
}

h2 a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 2.5px;
  font-weight: 400;
  font-color:#303E48;
}

h3 a {
  font-weight: 500;
  font-style: italic;
  font-size: 35px;
  text-decoration: none;
  text-align: left;
}

h4 {
  font-size: 40px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 1px;
}

h5 {
  font-size: 28px;
  text-align: center;
  padding-bottom: 20px;
  margin: 0;
  font-weight: 400;
  padding-bottom: 45px;
  padding-top: 10px;
}

.x-up-form {
  /*display: inline-block;*/
  margin: 0 auto;
  width: 50%;
  padding-top: 10px;
}

.x-up-form .field .input-field{
  font-size: 17px;
  padding-left: 15px;
}

.edit-form {
  height: 990%;
}

.field .remember {
  padding-top: 12px;
}

.field-actions-cancel {
  text-decoration: none;
  text-decoration: center;
  margin-left: 100px;
  color: #687D22;
}

.field#actions a {
  color:#83A035;
  text-decoration: none;
  color:#83A035;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  letter-spacing: .05em;
  font-weight: bolder;
}

.field {
  height:37px;
  width: 260px;
/*margin-top: 50px;*/
  margin: 0 auto;
  letter-spacing: .5px;
/*  text-decoration: none !important;*/
}

.field2 {
  text-align: center;
}

.field-links a {
/*  height:37px;
  width: 260px;*/
/*margin-top: 50px;*/
  margin: 0 auto;
  letter-spacing: .5px;
  text-decoration: none;
  color:#83A035;
  /*text-align: center;*/
}

#cancel-back {
  text-align: center;
  margin-bottom: 50px;
  color: #83A035 !important;
}

#leave-blank {
  height: 50%;
}

.field#actions {
  text-align: center;
  margin-top: 35px;
  font-size: 13px;
}

.input-field {
  height:34px;
  width: 270px;
  border-radius: 2px;
  border:none;
  box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
  padding-left: 15px;
  font-size: 28px;
  font-family: 'Cormorant Garamond', serif;
}

.input-box {
  height: 3em;
  width: 95%;
  padding-left: 3%;
}

.input-longer-box {
  height:60px;
  width: 246px;
  margin-bottom: 10px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 17px;
  border:none;
  box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
  padding-left: 14px;
  padding-top: 7px;
  margin-left: 3px;
}

#prep-time {
  height: 20px;
}

.dishes {
  margin: 0 auto;
  padding-left: 200px;
  padding-top: 30px;
}

.add-dish {
  text-align: right;
  padding-right: 12%;
  padding-top: 2%;
}

.add-dish a {
  text-decoration: none;
  font-size: 20px;
  color: #637820;
}

.white-bg-home {
  border-top: 1%;
  background-color: white;
  /*position: absolute;*/
  top: 150px;
/*  left: 100;
  r`ight: 100;*/
  background: rgba(255, 255, 255, .5);
  padding-top: 6%;
  margin: auto;
  width: 70%;
  list-style: none;
  border-bottom: 15%;
  padding-bottom: 6%;
}

.white-bg {
  border-top: 1%;
  background-color: white;
  /*position: absolute;*/
  top: 150px;
/*  left: 100;
  r`ight: 100;*/
  background: rgba(255, 255, 255, .5);
  padding-top: 0%;
  margin: auto;
  width: 70%;
  list-style: none;
  border-bottom: 15%;
  padding-bottom: 8%;
}

.white-bg ul {
  list-style: none;
}

.white-bg ul li{
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  line-height: 1.8em;
  padding-right: 30px;
}

.login-title {
  font-size: 2em;
  padding-bottom: 1.5%;
  padding-top: 30px;
}

#loginField {
  -webkit-appearance: none;
  position: relative;
  display: block;
  width: 300px;
  margin: 0 auto;
  font-family: 'Cormorant Garamond', serif;
  background-image: none;
}
/*#loginField input[type=text] {
  height:200px !important;
  box-sizing: border-box;
}
#loginField input[type=submit] {
  width: 85%;
  height: 60px;
}*/

.input-field {
  height: 2em;
  width: 95%;
  padding-left: 3%;
  font-size: 1em;
}

.profile-wrapper {
  text-align: center;
}

.profile {
  margin: auto;
  display: inline-block;
  overflow: hidden;
  min-width: 380px;
}

.profile-username {
  margin-top: 5px;
  margin-left: 0px;
}

.profile-pic {
  float: left;
  /*padding-right: 10px;*/
  text-align: left;
}

.profile-info {
  float: right;
  text-align: left;
  margin-left: 25px;
}

.profile-info-text {
  font-size : 1.2em;
  line-height: 2;
  /*margin-left: 25px;*/
}

.profile-info-text a {
  text-decoration: none;
  color: #637820;
}

.profile-info-edit a {
  text-decoration: none;
  color: #637820;
/*  margin-left: 25px;*/
  padding-top: 100px;
  text-align: bottom;
  display: block;
  margin-top: 110px;
/*  padding-left:-100px !important;*/

}

#profile-recipes {
  padding-top: 0px;
}

.chef-duration-left {
  margin-left: 16%;
}

.chef-duration-left a {
  color:#637820;
  text-decoration: none;
}

.remember {
  display: inline-block;
  color: #707A7B;
}

#submit-btn:hover {
 background-color:#819639;
}

#submit-btn {
  height: 45px;
  width: 100%;
  background-color: #83A035;
  color: white;
  font-size: 18px;
/*  font-size: 1.2em;*/
  padding: 3%;
  border:none;
  border-radius: 2px;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 25px;
  margin-top: 0px;
  letter-spacing: .9px;
  font-weight: lighter;
}

#submit-btn:hover {
  background-color: #819639
}

#devise-sign-up {
  text-align: center;
  color: #83A035;
  padding-top: 3px;
  margin-bottom: 1px;
  margin-top: 35px;
}

.devise-links {
  margin-top: 30px;
  text-align: center;
  /*font-weight: bold;*/
  color:#83A035;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  letter-spacing: .05em;
  font-weight: bolder;
}

.devise-links a {
  text-decoration: none;
  padding-top: 0px;
  margin-top: 0px;
  /*margin: 0 auto;*/
  color: #83A035;
  font-weight: 800;
  font-size: 1em;
}

.devise-links a:hover {
  color:#6F8528 !important;
}

.devise-forgot {
  color: #83A035;
  padding-top: 0px;
  margin: 0px;

}

.devise-forgot:hover {

}

.alert {
  text-align:center;
  font-family: 'Cormorant Garamond', serif;
  font-size:18px;
  margin-bottom: 10px;
  color: #956D0F;
  margin-top: 0px;
}

.notice {
  text-align:center;
  font-family: 'Cormorant Garamond', serif;
  font-size:18px;
  margin-bottom: 1%;
}

a:hover {
  background-color: transparent;
  color:#4D5E15;
}

.home-links {
  line-height: 3em;

}

.home-links a {
  color: #596C1A;
}

a .home-links:hover {
  color: #4D5E15;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.home {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.5s;
  -moz-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.content {
  padding-top: 65px;
}

.space {
  height:20px;
}

/*.vote-link:hover {
  transform:translate(0px,-10px);
}*/

/*
a .vote-link:hover{
  position: relative;
  top: -5px;
}


#arugula-46:hover {
  position: relative;
  top: -2px;
}*/

/*a img:hover {
  position: relative;
  top: -3px;
}*/

