/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_selfzzzzzzzzzzzzzz
 */

body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cormorant Garamond', serif;
}

body#sign-up {
  background-image: url("/assets/00-login.png");
}

body#log-in {
  background-image: url("/assets/00-login.png");
}

body#home {
  background-image: url("/assets/01-menu.png");
}

body#single-category {
  background-image: url("/assets/02-single-category.png");
}

.logo {
  text-align: center;
  margin-bottom: 6px;
}

.logo-and-text {
  padding-bottom: 28px;
  display: inline-block;
  width:20%;
}

.back-link {
  margin-left: 30.5%;
}

.back-link a {
  text-decoration: none;
}

#links {
  /*float: right;*/
  text-align: left;
  padding-left: .1%;
  display:inline-block;
  width: 30%;
  font-size: 15px;
  text-transform: uppercase;
}

#links a {
  text-decoration: none;
  padding-left:18px;
}

#search-container {
  margin-left: 10%;
  text-align: right;
  display:inline-block;
  width:32%;
}

#search {
  height: 30px;
  border-radius: 100px;
  width: 170px;
  font-size: 12px;
  padding-left: 13px;
  box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
  outline: none;
  border:none;
  letter-spacing: .3px;
}

.search-btn {
  display: none;
}

.dish-title {
  padding-left: 8%;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  color: #333333;

}

.dish-title a {
  text-decoration: none;
}

.vote-count {
  border-top: 1px solid gray;
  font-size: 30px;
  color: #333333;
  text-align: right;
  font-family: 'Cormorant Garamond', serif;
}

.dish-line {
  padding-top: 15px;
  padding-bottom: 15px;
}

.white-bg ul li {
  padding-left: 20%;
}

.white-bg ul {
  padding-bottom: 8%;
  margin-top: 7%;
}

#vote-and-count {
  text-align: center;
  margin-bottom: 25px;
}

#chef-and-duration {
  text-align: center;
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: lighter;
}

#directions-and-ingredients {
  padding-top: 6%;
  line-height: 2.5em;
  margin-left: 30%;
}

.sub-header {
  font-size: 32px;
  margin-bottom: 12px;
}

#directions {
  width:30%;
  font-size: 18px;
  display: inline-block;
}

#ingredients {
  width:15%;
  font-size: 18px;
  font-weight: lighter;
  display: inline-block;
  vertical-align: top;
  margin-left: 6%;
}

h1 {
  text-decoration: none;
  font-size: 38px;
  letter-spacing: 2.5px;
  font-weight: 510;
  font-color:#303E48;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 2.5px;
  font-weight: 400;
  color:#303E48;
  text-align: center;
}

h2 a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 2.5px;
  font-weight: 400;
  font-color:#303E48;
}

h3 a {
  font-weight: 500;
  font-style: italic;
  font-size: 35px;
  text-decoration: none;
  text-align: left;
}

h4 {
  font-size: 40px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 1px;
}

.x-up-form {
  /*display: inline-block;*/
  margin: 0 auto;
  width: 50%;
  padding-left: 30%;
}

.field {

  margin: 0 auto;
}


.dishes {
  margin: 0 auto;
  padding-left: 200px;
  padding-top: 30px;
}

.add-dish {
  text-align: right;
  padding-right: 17%;
  padding-top: 2%;
}

.add-dish a {
  text-decoration: none;
  font-size: 20px;
}

.white-bg {
  border-top: 15%;
  background-color: white;
  /*position: absolute;*/
  top: 150px;
/*  left: 100;
  r`ight: 100;*/
  background: rgba(255, 255, 255, .5);
  padding-top: 5%;
  margin: auto;
  width: 70%;
  list-style: none;
  border-bottom: 15%;
}

.white-bg ul {
  list-style: none;
}

.white-bg ul li{
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  line-height: 1.8em;
  padding-right: 30px;
}

.profile {
  margin: auto;
  width: 325px;
  overflow: hidden;
}

.profile-pic {
  float: left;
}

.profile-info {
  float: right;
  padding-top: 0px;
}

.user-dishes {
  text-align: center;
}

.chef-duration-left {
  margin-left: 15%;
}



