<h1>Dishy</h1>
<div class="white-bg">
<% @categories.each do |category| %>
  <h2><%= link_to category.name, category_dishes_path(category) %></h2>
  <ul>
    <% category.dishes.sort_by{ |dish| dish.votes.count }.reverse[0..4].each do |dish| %>
      <li><%= render partial: "votes/vote", locals: { dish: dish } %></li>
      <li><%= pluralize(dish.votes.count, "Vote") %> - <%= link_to dish.title, category_dish_path(category, dish) %></li>
    <% end %>
  </ul>
<% end %>
</div>
